<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h1><f:translate key="LLL:EXT:hive_barometer/Resources/Private/Language/locallang_db.xlf:tx_hive_barometer_barometerlist.title" /></h1>

<table class="table table-condensed table-triped">
    <thead>
        <tr>
            <td colspan="2">
                <strong><f:translate key="LLL:EXT:hive_barometer/Resources/Private/Language/locallang_db.xlf:tx_hivebarometer_domain_model_barometer" /></strong>
            </td>
        </tr>
    </thead>
    <tbody>
        <f:if condition="{pi_flexform_transformed.settings.animation}">
            <tr>
                <th>Animation</th>
                <td>
                    {pi_flexform_transformed.settings.animation}
                </td>
            </tr>
        </f:if>
        <f:if condition="{_computed.singleRecords}">
            <tr>
                <th>Selected barometers</th>
                <td>
                    <f:for each="{_computed.singleRecords}" as="row">
                        <f:render section="rowElement" arguments="{table:'tx_hivebarometer_domain_model_barometer', row:row}"/>
                    </f:for>
                </td>
            </tr>
        </f:if>
    </tbody>
</table>

<f:section name="rowElement">
    <a href="#" class="t3js-contextmenutrigger" data-table="{table}" data-uid="{row.uid}" title="id={row.uid}">
        <core:iconForRecord row="{row}" table="{table}"/>
        {row._computed.title}<br>
    </a>
</f:section>
</html>
